In [1]:
# let's import all required libraries
import selenium
from selenium import webdriver
import pandas as pd
import time
import warnings
warnings.filterwarnings('ignore')
from bs4 import BeautifulSoup
import requests

from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException,ElementNotInteractableException

## 1. Scrape the details of most viewed videos on YouTube from Wikipedia.

Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

You need to find following details:

A) Rank

B) Name

C) Artist

D) Upload date

E) Views

In [11]:
#let's first connect to web driver
driver=webdriver.Chrome(r'/Users/vikram/Downloads/chromedriver')

url='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

rank=[]
song_name=[]
artist_name=[]
song_views=[]
upload_date=[]


Rank=driver.find_elements_by_xpath("//table[3][@class='wikitable sortable jquery-tablesorter']//tr//td[1]")
for i in Rank:
    rank.append(i.text)
    
song=driver.find_elements_by_xpath("//table[3][@class='wikitable sortable jquery-tablesorter']//tr//td[2]")
for i in song:
    song_name.append(i.text)

artist=driver.find_elements_by_xpath("//table[3][@class='wikitable sortable jquery-tablesorter']//tr//td[3]")
for i in artist:
    artist_name.append(i.text)    
    
views=driver.find_elements_by_xpath("//table[3][@class='wikitable sortable jquery-tablesorter']//tr//td[4]")
for i in views:
    song_views.append(i.text)    
    
upload=driver.find_elements_by_xpath("//table[3][@class='wikitable sortable jquery-tablesorter']//tr//td[5]")
for i in upload:
    upload_date.append(i.text)    

#Creating dataframe for scraped data

Youtube=pd.DataFrame({})
Youtube['Rank'] = rank
Youtube['Song Name'] = song_name
Youtube['Artist Name'] = artist_name
Youtube['Upload Date'] = upload_date
Youtube['Song Views'] = song_views

Youtube

,Rank,Song Name,Artist Name,Upload Date,Song Views
0,NaN,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",10.53
1,NaN,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.82
2,NaN,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.31
3,NaN,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.69
4,NaN,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.48
5,NaN,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.27
6,NaN,"""Phonics Song with Two Words""[21]",ChuChu TV,"March 6, 2014",4.58
7,NaN,"""Learning Colors – Colorful Eggs on a Farm""[22]",Miroshka TV,"February 27, 2018",4.56
8,NaN,"""Uptown Funk""[23]",Mark Ronson,"November 19, 2014",4.54
9,NaN,"""Masha and the Bear – Recipe for Disaster""[24]",Get Movies,"January 31, 2012",4.49
10,NaN,"""Gangnam Style""[25]",Psy,"July 15, 2012",4.40
11,NaN,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.96
12,NaN,"""Dame Tu Cosita""[31]",El Chombo,"April 5, 2018",3.92
13,NaN,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.68
14,NaN,"""Roar""[33]",Katy Perry,"September 5, 2013",3.56
15,NaN,"""Counting Stars""[34]",OneRepublic,"May 31, 2013",3.56
16,NaN,"""Sorry""[35]",Justin Bieber,"October 22, 2015",3.54
17,NaN,"""Thinking Out Loud""[36]",Ed Sheeran,"October 7, 2014",3.44
18,NaN,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.32
19,NaN,"""Girls Like You""[38]",Maroon 5,"May 31, 2018",3.28
20,NaN,"""Faded""[39]",Alan Walker,"December 3, 2015",3.27
21,NaN,"""Dark Horse""[40]",Katy Perry,"February 20, 2014",3.26
22,NaN,"""Let Her Go""[41]",Passenger,"July 25, 2012",3.21
23,NaN,"""Baa Baa Black Sheep""[42]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.21
24,NaN,"""Bailando""[43]",Enrique Iglesias,"April 11, 2014",3.19
25,NaN,"""Lean On""[44]",Major Lazer,"March 22, 2015",3.19
26,NaN,"""Shake It Off""[45]",Taylor Swift,"August 18, 2014",3.16
27,NaN,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.14
28,NaN,"""Waka Waka (This Time for Africa)""[47]",Shakira,"June 4, 2010",3.12
29,NaN,"""Mi Gente""[48]",J Balvin,"June 29, 2017",3.07

## 2. Scrape the details team India’s international fixtures from bcci.tv.

Url = https://www.bcci.tv/.

You need to find following details:

A) Match title (I.e. 1st ODI)

B) Series

C) Place

D) Date

E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [170]:
#let's first connect to web driver
driver=webdriver.Chrome(r'/Users/vikram/Downloads/chromedriver')

url='https://www.bcci.tv/'
driver.get(url)


cookies_btn=driver.find_element_by_xpath("//button[@class='cookie__accept btn btn-primary']")
cookies_btn.click()

time.sleep(3)
driver.execute_script("window.scrollBy(0,500)")
time.sleep(5)


match_title=[]
Series_name=[]
Series_Place=[]
match_date=[]
match_Time=[]

match=driver.find_elements_by_xpath("//div[@class='match-time-place']//p//span[1]")
for i in match:
    match_title.append(i.text)
match_title[:5]

Series=driver.find_elements_by_xpath("//span[@class='ng-binding']")
for i in Series:
    Series_name.append(i.text)
    
Date=driver.find_elements_by_xpath("//h5[@class='ng-binding']")
for i in Date:
    match_date.append(i.text)
    
side=driver.find_element_by_xpath("//button[@class='slick-next slick-arrow']").click()
time.sleep(3)
   
Place=driver.find_elements_by_xpath("//div[@class='match-time-place']//p//span[2]")
for i in Place:
    Series_Place.append(i.text)
        
Time=driver.find_elements_by_xpath("//h5[@class='match-time ng-binding']")
for i in Time:
    match_Time.append(i.text)
    
    
#Creating dataframe for scraped data

Match=pd.DataFrame({})
Match['Title'] = match_title[:5]
Match['Series Name'] = Series_name[:5]
Match['Place'] = Series_Place[:5]
Match['Date'] = match_date[:5]
Match['Time'] = match_Time[:5]

Match

,Title,Series Name,Place,Date,Time
0,1st T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Arun Jaitley Stadium,",9 JUN 2022,7:30 PM IST
1,2nd T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Barabati Stadium,",12 JUN 2022,7:30 PM IST
2,3rd T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadium,",14 JUN 2022,7:30 PM IST
3,4th T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Saurashtra Cricket Association Stadium,",17 JUN 2022,7:30 PM IST
4,5th T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"M Chinnaswamy Stadium,",19 JUN 2022,7:30 PM IST

## 3. Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/

You need to find following details:

A) Name

B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [40]:
#let's first connect to web driver
driver=webdriver.Chrome(r'/Users/vikram/Downloads/chromedriver')

url='https://www.guru99.com/'
driver.get(url)

url=driver.find_element_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a").click()

time.sleep(3)
driver.execute_script("window.scrollBy(0,4000)")
time.sleep(5)

tutorial=driver.find_element_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a").click()
time.sleep(3)

Exceptions_name=[]
Description=[]



Exceptions=driver.find_elements_by_xpath('//table[@class="table table-striped"]//tbody//tr//td[1]')
for i in Exceptions:
     Exceptions_name.append(i.text.replace("\n",""))


Describe=driver.find_elements_by_xpath('//table[@class="table table-striped"]//tbody//tr//td[2]')
for i in Describe:
     Description.append(i.text.replace("\n",""))

#Creating dataframe for scraped data

selenium=pd.DataFrame({})
selenium['Exceptions Names'] = Exceptions_name
selenium['Description'] = Description

selenium

,Exceptions Names,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

## 4. Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/
You have to find following details:

A) Rank

B) State

C) GSDP(18-19)

D) GSDP(17-18)

E) Share(2017)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [12]:
#let's first connect to web driver
driver=webdriver.Chrome(r'/Users/vikram/Downloads/chromedriver')

url='http://statisticstimes.com/'
driver.get(url)

In [3]:
# Clicking on Economy button
driver.find_element_by_xpath("//div[@class='navbar']/div[2]/button").click()

# Clicking on India
driver.find_element_by_xpath("//div[@class='dropdown-content']/a[3]").click()
time.sleep(3)

In [8]:
# Clicking on GDP of Indian Economy
GDP = driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()
time.sleep(3)

In [9]:
# Creating empty list
Rank = []
State = []
GSDP1 = []
GSDP2 = []
Share = []
GDP_billion = []

# Scraping Rank
try:
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")
    
# Scraping State
try:
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[2]"):
        State.append(i.text)
except NoSuchElementException:
    State.append("_")
    
# Scraping GSDP at current price (19-20)
try:
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[3]"):
        GSDP1.append(i.text)
except NoSuchElementException:
    GSDP1.append("_")
    
# Scraping GSDP at current price (18-19)
try:
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[4]"):
        GSDP2.append(i.text)
except NoSuchElementException:
    GSDP2.append("_")
    
# Scraping Share (18-19)
try:
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[5]"):
        Share.append(i.text)
except NoSuchElementException:
    Share.append("_")
    
# Scraping GDP $ billion
try:
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[6]"):
        GDP_billion.append(i.text)
except NoSuchElementException:
    GDP_billion.append("_")
    
# Creating DataFrame from the scraped data
GDP = pd.DataFrame({})
GDP['Rank'] = Rank
GDP['State'] = State
GDP['GSDP at current price (19-20)'] = GSDP1
GDP['GSDP at current price (18-19)'] = GSDP2
GDP['Share (18-19)'] = Share
GDP[' GDP($ billion)'] = GDP_billion
GDP

,Rank,State,GSDP at current price (19-20),GSDP at current price (18-19),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
...,...,...,...,...,...,...
61,29,Sikkim,"28,391","25,141",0.15%,"17,060"
62,30,Nagaland,-,"24,534",0.15%,-
63,31,Arunachal Pradesh,-,"22,488",0.13%,-
64,32,Mizoram,"24,424","20,947",0.13%,"17,797"
65,33,Andaman & Nicobar Islands,-,-,-,-

## 5) Scrape the details of trending repositories on Github.com.

Url = https://github.com/

You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [23]:
#let's first connect to web driver
driver=webdriver.Chrome(r'/Users/vikram/Downloads/chromedriver')

url='https://github.com/'
driver.get(url)

In [24]:
time.sleep(3)
#Getting explore button and clicking on it
explore = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary").click()

trend= driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a")
trend.click()

Repository=[]
description=[]
Contributors=[]
Language=[]

title= driver.find_elements_by_xpath("//span[@class='text-normal']")
for i in title:
    Repository.append(i.text.replace("/",""))
repository=Repository


des=driver.find_elements_by_xpath("//p[@class='col-9 color-fg-muted my-1 pr-4']")
for i in des:
        description.append(i.text)


count=driver.find_elements_by_xpath("//div[@class='f6 color-fg-muted mt-2']/a[2]")
for i in count:
    Contributors.append(i.text)
Contributors
#Remove empty List from List
# using list comprehension
contributor = [ele for ele in Contributors if ele != []]
contributors=contibutor


lang=driver.find_elements_by_xpath("//span[@class='d-inline-block ml-0 mr-3']//span[2]")
for i in lang:
    Language.append(i.text)       


        
#DATA FRAMEING
Github=pd.DataFrame({})
Github['Repository title'] = repository[:20]
Github['Repository description'] = description[:20]
Github['Contributors count'] = contributors[:20]
Github['Language used'] = Language[:20]
Github

,Repository title,Repository description,Contributors count,Language used
0,actualbudget,A local-first personal finance system,205,JavaScript
1,actualbudget,Actual's server,97,JavaScript
2,google,Wireit upgrades your npm scripts to make them ...,29,TypeScript
3,spacedriveapp,Spacedrive is an open source cross-platform fi...,141,TypeScript
4,ruanyf,科技爱好者周刊，每周五发布,"1,788",Go
5,gelove,"叮咚买菜助手, 直接下载并运行, 不需要安装环境, 不需要下载源码！！！",16,Python
6,gradio-app,Create UIs for your machine learning model in ...,410,JavaScript
7,Anduin2017,程序员在家做饭方法指南。Programmer's guide about how to co...,"6,082",Jupyter Notebook
8,Pierian-Data,Course Files for Complete Python 3 Bootcamp Co...,"68,954",TypeScript
9,RedisInsight,RedisInsight,50,C
10,ganelson,The core software distribution for the Inform ...,32,Python
11,ml-tooling,🏆 A ranked list of awesome machine learning Py...,"1,297",C
12,ventoy,A new bootable USB solution.,"2,544",Swift
13,kuglee,Terminal Watch Face for Apple Watch,133,Java
14,TeamNewPipe,A libre lightweight streaming front-end for An...,"2,272",TypeScript
15,appsmithorg,"Low code project to build admin panels, intern...","1,315",HTML
16,FrancescoXX,A list of FREE resources to make Web3 accessib...,131,Jupyter Notebook
17,The-Art-of-Hacking,This repository is primarily maintained by Oma...,"1,941",Shell
18,G33kzD3n,"An updated version of the classic ""Basic Compu...",28,Go
19,cashapp,30 days of JavaScript programming challenge is...,7,C#

## 6) Scrape the details of top 100 songs on billiboard.com.

Url = https:/www.billboard.com/

You have to find the following details:

A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [17]:
#let's first connect to web driver
driver=webdriver.Chrome(r'/Users/vikram/Downloads/chromedriver')

url='https:/www.billboard.com/'
driver.get(url)

In [18]:
#clicking on chart
chart = driver.find_element_by_xpath("/html/body/div[3]/header/div[1]/div/div/div[2]/div/nav/ul/li[1]/a")
chart.click()
#clicking on hot 100
hot100= driver.find_element_by_xpath("/html/body/div[3]/header/div[2]/div/nav/ul/li[1]/a")
hot100.click()

#making lists
Song_name=[]
artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]



#scrapping song name
name= driver.find_elements_by_xpath("//div[@class='o-chart-results-list-row-container']//ul//li[4]//ul//li//h3")
for i in name:
    Song_name.append(i.text)

# scrapping artist name
artist= driver.find_elements_by_xpath("//div[@class='o-chart-results-list-row-container']//ul//li[4]//ul//li[1]//span")
for i in artist:
    artist_name.append(i.text)

#scrapping last week rank
lwrank= driver.find_elements_by_xpath("//div[@class='o-chart-results-list-row-container']//ul//li[4]//ul//li[4]//span")
for i in lwrank:
    Last_week_rank.append(i.text.split())

#Remove empty List from List
# using list comprehension
last_week_rank = [ele for ele in Last_week_rank if ele != []]

#scrapping peak rank
prank= driver.find_elements_by_xpath("//div[@class='o-chart-results-list-row-container']//ul//li[4]//ul//li[5]//span")
for i in prank:
    Peak_rank.append(i.text.split())
#Remove empty List from List
# using list comprehension
peak_rank = [ele for ele in Peak_rank if ele != []]

#scrapping weeks on board
wboard= driver.find_elements_by_xpath("//div[@class='o-chart-results-list-row-container']//ul//li[4]//ul//li[6]//span")
for i in wboard:
    Weeks_on_board.append(i.text)

#DATA FRAMEING
Billboard=pd.DataFrame({})
Billboard['Song name'] = Song_name
Billboard['Artist name'] = artist_name
Billboard['Last week rank'] = last_week_rank
Billboard['Peak rank'] = peak_rank
Billboard['Weeks on board'] = Weeks_on_board

Billboard

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,As It Was,Harry Styles,[2],[1],3
1,First Class,Jack Harlow,[1],[1],2
2,Heat Waves,Glass Animals,[3],[1],66
3,Big Energy,Latto,[4],[3],26
4,Enemy,Imagine Dragons X JID,[5],[5],22
...,...,...,...,...,...
95,P Power,Gunna Featuring Drake,[91],[24],14
96,Money So Big,Yeat,[-],[95],4
97,Blick Blick!,Coi Leray & Nicki Minaj,[95],[37],4
98,Fall In Love,Bailey Zimmerman,[-],[99],1
99,X Ultima Vez,Daddy Yankee & Bad Bunny,[99],[73],3

## 7) Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/

You have to find the following details:

A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code.

In [15]:
#let's first connect to web driver
driver=webdriver.Chrome(r'/Users/vikram/Downloads/chromedriver')

url='https://www.naukri.com/hr-recruiters-consultants'
driver.get(url)

In [16]:
# Fetching search button, sending keys and clicking on it
search = driver.find_element_by_xpath("//div[@class='inpWrap']//input") 
search.send_keys("Data science ")           
btn = driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']").click()     
time.sleep(3)

In [17]:
#Creating empty lists
Name = []
Designation = []
Company = []
Skills = []
Location = []

#Scraping data of Names
for i in driver.find_elements_by_xpath("//span[@class='fl ellipsis']"):
    Name.append(i.text)
time.sleep(3)


#Scraping data of Designation
for i in driver.find_elements_by_xpath("//span[@class='ellipsis clr']"):
    Designation.append(i.text)
time.sleep(3)

#Scraping data of company name
for i in driver.find_elements_by_xpath("//div[@class='vcard']//p[1]/a[2]"):
    Company.append(i.text)
time.sleep(3)
    
#scraping data of Skills 
for i in driver.find_elements_by_xpath("//div[@class='hireSec highlightable']"):
    try:
        if i.text == "Not Specified": raise NoSuchElementException
        Skills.append(i.text)
    except NoSuchElementException:
        Skills.append('-')
    time.sleep(3)

#Scraping data of locations
for i in driver.find_elements_by_xpath("//div[@class='vcard']//p[1]//span"):
    Location.append(i.text)
time.sleep(3)

# Creating dataframe for scraped data
Naukri=pd.DataFrame({})
Naukri['Name'] = Name[:50]
Naukri['Designation'] = Designation[:50]
Naukri['Company'] = Company[:50]
Naukri['Skills'] = Skills[:50]
Naukri['Location'] = Location[:50]
Naukri

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Aakash Harit
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",HR Manager
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Delhi
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",shravan Kumar Gaddam
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",Company Recruiter
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Hyderabad / Secunderabad
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,MARSIAN Technologies LLP
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Company HR
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Pune
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Anik Agrawal
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Company Recruiter
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Ahmedabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",subhas patel
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Founder CEO
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",UK - (london)
15,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Abhishek - Only Analytics Hiring - India and
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Recruitment Lead Consultant
17,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Vadodara / Baroda
18,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Institute for Financial Management and Resear
19,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Programme Manager
20,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Chennai
21,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Balu Ramesh
22,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",HR Administrator
23,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Trivandrum
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Asif Lucknowi
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Director
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Indore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",InstaFinancials
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Human Resource
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
30,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Priyanka Akiri
31,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",HR Manager
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Hyderabad
33,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Kalpana Dumpala
34,Ravi Dubey,Recruitment Manager,HyrEzy Talent Solutions LLP,Walmart Interra Skeps Expressstores indifi whi...,Executive Hiring
35,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Hyderabad / Secunderabad
36,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Mubarak
37,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Company HR
38,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Bengaluru / Bangalore
39,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Kushal Rastogi
40,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Company HR
41,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
42,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Mahesh Babu Channa
43,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",HR Team Lead
44,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
45,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Sakshi Chhikara
46,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Assistant Manager HR
47,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Chandigarh
48,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",Kapil Devang
49,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",HR Manager

## 8) Scrape the details of Highest selling novels.

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey- compare/

You have to find the following details:

A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [34]:
#let's first connect to web driver
driver=webdriver.Chrome(r'/Users/vikram/Downloads/chromedriver')

url="https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver.get(url)

In [46]:
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

#scrapping book name
name= driver.find_elements_by_xpath("//tr//td[2][@class='left']")
for i in name:
    Book_name.append(i.text)
    
#scrapping author name
aname= driver.find_elements_by_xpath("//tr//td[3][@class='left']")
for i in aname:
    Author_name.append(i.text)
    
#scrapping volume sold
sold= driver.find_elements_by_xpath("//tr//td[4][@class='left']")
for i in sold:
    Volumes_sold.append(i.text)
    
#scrappiing piblisher
pub= driver.find_elements_by_xpath("//tr//td[5][@class='left']")
for i in pub:
    Publisher.append(i.text)
    
#scrapping genre
g= driver.find_elements_by_xpath("//tr//td[6][@class='last left']")
for i in g:
    Genre.append(i.text)

#DATA FRAMEING
guardian=pd.DataFrame({})
guardian['Book name'] = Book_name
guardian['Author name'] = Author_name
guardian['Volumes_sold'] = Volumes_sold
guardian['Publisher'] = Publisher
guardian['Genre'] = Genre

guardian

,Book name,Author name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

## 9) Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/

You have to find the following details:

A) Name

B) Year span

C) Genre

D) Run time

E) Ratings 

F) Votes

In [48]:
#let's first connect to web driver
driver=webdriver.Chrome(r'/Users/vikram/Downloads/chromedriver')

url="https://www.imdb.com/list/ls095964455/"
driver.get(url)

In [56]:

Series_name=[]
year_span=[]
Genre=[]
runtime=[]
Ratings=[]
Votes=[]

#scrapping name of series
name= driver.find_elements_by_xpath("//div//div[1]//div[2]//h3//a")
for i in name:
    Series_name.append(i.text)

#scrapping year span
year= driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")
for i in year:
    year_span.append(i.text)
    
#scrapping Genre
g= driver.find_elements_by_xpath("//span[@class='genre']")
for i in g:
    Genre.append(i.text) 
    
#scrapping runtime
r= driver.find_elements_by_xpath("//span[@class='runtime']")
for i in r:
    runtime.append(i.text)
    
#scrapping Ratings
ra= driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']//span[2]")
for i in ra:
    Ratings.append(i.text)
    
#scrapping votes
v= driver.find_elements_by_xpath("//div[@class='lister-item mode-detail']//p[4]//span[2]")
for i in v:
    Votes.append(i.text)    
    
#making dataframe
series=pd.DataFrame({})
series['Series Name'] = Series_name
series['Year Span'] = year_span
series['Genre'] = Genre
series['Runtime'] = runtime
series['Ratings'] = Ratings
series['Votes'] = Votes

series

,Series Name,Year Span,Genre,Runtime,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,980,206"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"985,920"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"943,796"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"281,940"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"241,865"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.4,"48,529"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"59,165"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"188,750"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"40,005"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"226,243"

### 10) Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/
You have to find the following details:

A) Dataset name 

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute 

G) Year

Note: - from the home page you have to go to the ShowAllDataset page through code.

In [62]:
#let's first connect to web driver
driver=webdriver.Chrome(r'/Users/vikram/Downloads/chromedriver')

url="https://archive.ics.uci.edu/"
driver.get(url)

In [83]:
# Finding view all dataset button from the webpage
viewall_dataset = driver.find_element_by_xpath("//tbody[1]//tr/td[2]/span[2]/a")    
page_url = viewall_dataset.get_attribute("href")
driver.get(page_url)
time.sleep(3)

In [84]:
# Fetching page urls of all datasets 
view_list = driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[1]/tbody/tr/td[2]/p/a")  
list_url = view_list.get_attribute("href")           
driver.get(list_url)
time.sleep(3)

In [85]:
# Fetching urls for each dataset
dataset_url = driver.find_elements_by_xpath("//p[@class='normal']//b//a")    

urls = []     
for i in dataset_url:
    urls.append(i.get_attribute("href"))

In [86]:
#Creating empty lists
Dataset_name = []
Data_type = []
Task = []
Attribute_type = []
No_of_instances = []
No_of_attributes = []
Year = []

for i in urls:
    driver.get(i)
    time.sleep(3)
    
    #Scraping Dataset name
    try: 
        dataset_name = driver.find_element_by_xpath("//span[@class='heading']")
        Dataset_name.append(dataset_name.text)
    except NoSuchElementException:
        Dataset_name.append('-')
    time.sleep(2)
    
    #Scraping data type
    try:
        data_type = driver.find_element_by_xpath("//table[@border='1']//tbody/tr/td[2]")
        if data_type.text == "N/A": raise NoSuchElementException
        Data_type.append(data_type.text)
    except NoSuchElementException:
        Data_type.append('-')
    time.sleep(2)
    
    #scraping Task
    try:
        task = driver.find_element_by_xpath("//table[@border='1']//tbody/tr[3]/td[2]")
        if task.text == "N/A": raise NoSuchElementException
        Task.append(task.text)
    except NoSuchElementException:
        Task.append('-')
    time.sleep(2)
    # Scraping Attribute type
    try:
        attribute_type = driver.find_element_by_xpath("//table[@border='1']//tbody/tr[2]/td[2]")
        if attribute_type.text == "N/A": raise NoSuchElementException
        Attribute_type.append(attribute_type.text)
    except NoSuchElementException:
        Attribute_type.append('-')
    time.sleep(2)
    
    # Scraping No of instances
    try:
        instances = driver.find_element_by_xpath("//table[@border='1']//tbody/tr/td[4]")
        if instances.text == "N/A": raise NoSuchElementException
        No_of_instances.append(instances.text)
    except NoSuchElementException:
        No_of_instances.append('-')
    time.sleep(2)
    
    # Scraping No of attributes
    try:
        attribute = driver.find_element_by_xpath("//table[@border='1']//tbody/tr[2]/td[4]")
        if attribute.text == "N/A": raise NoSuchElementException
        No_of_attributes.append(attribute.text)
    except NoSuchElementException:
        No_of_attributes.append('-')
    time.sleep(2)
    
    # Scraping year
    try:
        year = driver.find_element_by_xpath("//table[@border='1']//tbody/tr[2]/td[6]")
        if year.text == "N/A": raise NoSuchElementException
        Year.append(year.text[:4])
    except NoSuchElementException:
        Year.append('-')
    time.sleep(2)

In [87]:
# Creating dataframe for scraped data
ML=pd.DataFrame({})
ML['Data Name'] = Dataset_name
ML['Data Type'] = Data_type
ML['Task'] = Task
ML['Attribute type'] = Attribute_type
ML['No of instance'] = No_of_instances
ML['No of attributes'] = No_of_attributes
ML['Year'] = Year
ML

,Data Name,Data Type,Task,Attribute type,No of instance,No of attributes,Year
0,2.4 GHZ Indoor Channel Measurements Data Set,Multivariate,Classification,Real,7840,5,2018
1,"3D Road Network (North Jutland, Denmark) Data Set","Sequential, Text","Regression, Clustering",Real,434874,4,2013
2,3W dataset Data Set,"Multivariate, Time-Series","Classification, Clustering","Integer, Real",1984,8,2019
3,9mers from cullpdb Data Set,Sequential,"Classification, Regression",Real,158716,4,2021
4,: Simulated Data set of Iraqi tourism places D...,Multivariate,"Classification, Clustering",-,232,16,2020
...,...,...,...,...,...,...,...
617,Youtube cookery channels viewers comments in H...,"Multivariate, Text",Classification,-,9800,3,2019
618,YouTube Multiview Video Games Dataset Data Set,"Multivariate, Text","Classification, Clustering","Integer, Real",120000,1000000,2013
619,YouTube Spam Collection Data Set,Text,Classification,-,1956,5,2017
620,Z-Alizadeh Sani Data Set,-,Classification,"Integer, Real",303,56,2017
621,Zoo Data Set,Multivariate,Classification,"Categorical, Integer",101,17,1990